.newOrder {
    .orderForm { 
        .products {
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 15px;

                list-style-type: none;

                button {

                }
            }
        }
    }

    .orderResults {
        height: 100vh;
        background-color: #F1F1F1;
        border-left: 1px solid #AFAFAF;


        ul {
            padding: 0;
            margin: 0;
            margin-bottom: 25px;

            li {
                padding: 10px 0;

                font-size: 2rem;
                list-style-type: none;
                border-bottom: 1px solid #AFAFAF;

                .name {
                    display: block;
                    padding-top: 5px;
                    float: left;
                }

                .amount {
                    display: block;
                    padding-top: 5px;
                    padding-right: 5px;
                    float: left;
                    text-align: right;
                    min-width: 30px;
                }

                .buttons {
                    display: block;
                    float: right;
                    button {
                        margin: 0 5px;
                        display: block;
                        float: right; 
                    }
                }               
            }
        }

        .confirmOrder {
            float: right;
        }
    }
}

.ordersSummary {
   
    .actions {
        @include clearfix();
        margin: 15px 0;

        .btn {
            float: right;
        }
    }

    .header {
        @include clearfix();

        border-bottom: 1px solid #AFAFAF;

        .lastUpdate {
            font-size: 10pt;
            color: #717171;
            text-align: right;
            margin-top: 28px;
            margin-bottom: 10px;
        }
    }
    .orderList {
        margin: 0;
        padding: 0;

        .order {
            padding: 20px 0 5px;
            list-style-type: none;
            border-bottom: 1px solid #AFAFAF;

            .orderDetailList {
                padding: 0;
                list-style-type: none;

                .orderDetail {
                    padding: 5px;
                    border: none;

                    &.checked {
                        color: #BABABA;
                    }
                }
            }
            
            .info {

                .orderId {
                    display: block;
                    font-size: 2rem;
                    text-align: right;
                }

                .user {
                    display: block;
                    text-align: right;
                }

                .orderTime {
                    display: block;
                    text-align: right;
                }

                button {
                    margin-top: 10px;
                }
            }
            
        }
    }
}