@import "_bootstrap.scss";
@import "_orders.scss";

/* fonts */
@font-face {
    font-family: 'HelveticaNeueLTCom97BlkCn';
    src: url('assets/fonts/helveticaneueltcom-blkcn-webfont.eot');
    src: url('assets/fonts/helveticaneueltcom-blkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/helveticaneueltcom-blkcn-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneueltcom-blkcn-webfont.ttf') format('truetype'),
         url('assets/fonts/helveticaneueltcom-blkcn-webfont.svg#HelveticaNeueLTCom97BlkCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

 @-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



html {
	font-size: 62.5%; 
	height: 100%;
} 

body {
	height: 100%;
    font-size: 1.6rem;
}

#main {
    height: 100%;

    #template {
        height: 100%;
    }
}

.action {
    margin: 10px 0 0;

    button {
        margin-bottom: 10px;
    }
}

.loading {
    .spinner {
      margin: 100px auto;
      width: 70px;
      text-align: center;
    }

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

.headed {
    padding-top: 60px;
}

.simpleList {
    margin: 25px 0;
    padding: 0;
        
    list-style-type: none;

    li {
        @include clearfix;
        padding: 10px 0;
        border-bottom: 1px solid #ECECEC;

        figure {
            width: 80px;
            float: left;

            img {
                margin: 0 auto;
                display: block;
                height: 60px;
                width: 60px;
                background-size: contain;
            }
        }
        
        .details {
            padding-top: 3px;

            width: calc(100% - 80px);
            float: right;

            p {
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }
}

.pageTitle {
    font-size: 2.5rem;
}

// Templates
#AppTemplate {
    background-color: #333;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);

    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    padding-top: 45px;

    a {
        &:focus {
            color: #fff;
        }

        &:hover {
            color: #fff;
        }
    }

    .cover-wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 700px;

        .cover {
            padding-top: 25px;
            text-align: left;

            h1 {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .lead {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }

        /*
         * Header
         */
        .masthead-brand {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .masthead-nav > li {
            display: inline-block;
        }
        .masthead-nav > li + li {
            margin-left: 20px;
        }
        .masthead-nav > li > a {
            padding-right: 0;
            padding-left: 0;
            font-size: 16px;
            font-weight: bold;
            color: #fff; /* IE8 proofing */
            color: rgba(255,255,255,.75);
            border-bottom: 2px solid transparent;
        }
        .masthead-nav > li > a:hover,
        .masthead-nav > li > a:focus {
                background-color: transparent;
                border-bottom-color: #a9a9a9;
                border-bottom-color: rgba(255,255,255,.25);
        }
        .masthead-nav > .active > a,
        .masthead-nav > .active > a:hover,
        .masthead-nav > .active > a:focus {
            color: #fff;
            border-bottom-color: #fff;
        }

        /*
         * Footer
         */

        .mastfoot {
          color: #999; /* IE8 proofing */
          color: rgba(255,255,255,.5);
        }
    }
}

#adminNavBar {
    padding: 4px 0;
    .navbar-brand {
        padding: 5px;
        img {
            height: 40px;
        }
    }

    .nav {
        margin: 0;
    }
}

#allMembers {
    .simpleList {
        li {
            figure {
                width: 80px;
                float: left;

                img {
                    &.profilePicture {
                        margin: 0 auto;
                        display: block;
                        max-height: 60px;
                    }
                }
                
            }
        
            .details {
                width: calc(100% - 80px);

                .name {
                    margin: 0;
                }

                .age {
                    margin: 0;
                    font-size: 1.5rem;

                    .dateOfBirth {
                        font-size: 1.3rem; 
                        font-style: italic;
                    }
                }

                .adress {
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

#allEvents {
    .simpleList {
        li {
            figure {
                width: 150px;
                float: left;

                img {
                    &.profilePicture {
                        margin: 0 auto;
                        display: block;
                        height: 100px;
                        width: 100px;
                    }
                }
                
            }
        
            .details {
                padding-top: 30px;
                width: calc(100% - 150px); 

                .title {
                    font-size: 2rem;
                    margin: 0;
                }

                .date {
                    font-size: 1.6rem;
                    margin: 0;
                }
            }
        }
    }
}

#newEvent {
    input[type="date"] {
        width: 50%;
        float: left;
    }

    input[type="time"] {
        width: 50%;
        float: left;
    }
}

#authentication {
    .rfidExpired {
        text-align: center;
    }
}

#EventSearchUser {
    .datePicker {
        margin: 0;
        padding: 0;
        list-style-type: none;

        @include clearfix();

        li {
            line-height: 60px;
            color: #FFF;
            margin: 15px 15px;
            background-color: #3A3A3A;
            padding: 10px 0;
            text-align: center;
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            float: left; 
        }
    }

    .datePickerButton {
        display: block;
        color: #FFF;
        float: none;
        line-height: 60px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin: 15px auto;
        background-color: #6B6B6B;
        border: none;
    }
}

#scanCard {
    
    margin: 0 auto;

    width: 1024px;
    height: 768px;

    background-color: #FFC300;

    overflow-x: hidden;
    overflow-y: hidden;

    h1 {
        margin: 0;
        padding-top: 300px;
        color: white;
        text-align: center;
        font-size: 6.9rem;
        line-height: 7.2rem;
        font-family: 'HelveticaNeueLTCom97BlkCn';
        text-shadow: 2px 2px 0px #706B6B;
    }

    h2 {
        margin: 0;
        color: white;
        text-align: center;

        font-size: 3.5rem;
        line-height: 4.2rem;
        font-family: 'HelveticaNeueLTCom97BlkCn';
        text-transform: uppercase;

        text-shadow: 2px 2px 0px #706B6B;
    }

    input {
        margin-top: 50px;

        display: block;
        width: 200px;

        margin: 0 auto;
    }
} 

// extend bootstrap Nav
.nav {
    margin: 20px 0;

    .search {
        display: block;
        float: right;
        width: 200px;

        button {
            height: 34px;
        }
    }
}

// RFID SCANNER
.rfidScanner {
    margin: 15px 0;

    h1 {
        text-align: center;
    }

    &.passive {
        color: #dddddd;
    }
}

// UserPanel
#userPanel {
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease; 

    .imageWrapper {
        width: 25%;
        float: left;
        .userImage {
            display: block;
            margin: 0 auto;

            height: 100px;
            width: 100px;

            border-radius: 100%;
        }
    }

    .details {
        width: 75%;
        float: left;
        box-sizing: border-box;
        padding: 0 25px;

        dl {
            display: block;
            float: left;
            width: 50%;
            margin-bottom: 10px;
            .name {
                font-weight: bold;
                font-size: 2rem;

                .checkedIn {
                    font-size: 1.4rem;
                    color: #494949
                }
            }

            .age {
                font-size: 1.8rem;
            }

            .city {
                font-size: 1.8rem;
            }

            .memberSince {
                margin-top: 15px;
                font-size: 1.4rem;
                color: #494949
            }

            .cardExpires {
                font-size: 1.4rem;
                color: #494949
            }
        }

        .badge {
            display: block;
            width: 30%;
            float: right;
            font-size: 5rem !important;
            padding: 18px !important;
            margin: 30px 0 0;
            font-size: 14px;
            padding: 5px 10px;
        }
    }

    .progress {
        margin: 15px 0 0;
        height: 10px;
        .test {
            width: 100%;
            height: 25px;
            background-color: #428bca;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            -webkit-transition: width .6s ease;
            -o-transition: width .6s ease;
            transition: width .6s ease; 
        }
    }

    
}

#searchPanel {
    select, input {
        display: block;
        box-sizing: border-box;
        font-size: 3rem;
        height: 55px;
        width: 20%;
        margin-right: 2%;
        text-align: center;
        float: left;
    }

    button {
        display: inline;
        height: 55px;
        width: 55px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .pageTitle {
        float: left;
        width: 45%;

    }

    .action { 
        margin: 15px 0 10px;
        float: left;
        width: 55%;
        text-align: right;
    }
}