<div id="adminNavBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo-sjatoo" /></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-class="{ active: isActive('/beheer/leden')}"><a href="#/beheer/leden">Leden</a></li>
                <li data-ng-class="{ active: isActive('/beheer/evenementen')}"><a href="#/beheer/evenementen">Evenementen</a></li>
                <li data-ng-class="{ active: isActive('/beheer/drank')}"><a href="#/afdelingen">Drank</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li data-ng-class="{ active: isActive('/zoeken')}"><a href="#zoeken"><span class="glyphicon glyphicon-search"></span> zoeken</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-cog"></span> Instellingen <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#account"><span class="glyphicon glyphicon-user"></span> Uw account</a></li>
                        <li><a href="#account"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul> -->
        </div><!--/.nav-collapse -->
    </div>
</div>