<div ng-include src="'js/source/templates/AdminNavbarTemplate.html'"></div>
<div id="adminDashBoard" class="container headed" data-ng-controller="AdminDashBoardController">
	<h1>Beheer dashboard</h1>
</div>