<div ng-include src="'js/source/templates/AdminNavbarTemplate.html'"></div>
<div id="allMembers" class="container headed" data-ng-controller="AllMembersController">
    <h3>Overzicht leden</h2>
    
    <ul class="simpleList">
        <li data-ng-repeat="member in members">
            <figure>
                <img src="http://localhost/sjatoo-symfony/web/uploads/member_pictures/{{member.imageUrl}}" alt="" class="img-circle profilePicture">
            </figure>
            <div class="details">
                <h4 class="name">{{member.firstname}} {{member.lastname}}</h4>
                <p class="age">{{member.dateOfBirth | ageFilter}} jaar <span class="dateOfBirth">({{member.dateOfBirth | date : "dd/MM/yyyy"}})</span></p>
                <p class="adress"> 
                    <span class="street">{{member.street}},</span> 
                    <span class="city">{{member.zipCode}} {{member.city}}</span>
                </p>
            </div>
        </li>
    </ul>

    <button data-ng-click="load()">Meer</button>
</div>

