<div id="AppTemplate">
    <div class="cover-wrapper">
        <div class="masthead clearfix">
            <div class="inner">
                <img src="images/logo.png" alt="logo-sjatoo" />
                <ul class="nav masthead-nav">
                    <li><a href="#/evenement/checkin">Leden module</a></li>
                    <li><a href="#/toog/bestelling/nieuw">Toog module</a></li>
                    <li><a href="#/beheer">Beheer dashboard</a></li>
                </ul>
            </div>
        </div>

        <!-- <div class="cover">
            <h1 class="cover-heading">Welkom op PROJECT SJATOO.</h1>
            <h3>Event module</h3>
            <p class="lead">
                Deze module heeft twee basis-functionaliteiten. De module kan een nieuw lid registreren met behulp van een EID-reader en zal een lidkaart koppelen aan deze gegevens.
                Bestaande leden worden geregistreerd bij het binnenkomen van een event met inkom.
            </p>
        </div> -->

        <!-- <div class="mastfoot">
            <div class="inner">
                <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </div> -->
    </div>
</div>
