<div id="authentication" class="container" data-ng-controller="AuthenticationController">

    <!-- Event Data -->
    <h1 data-ng-show="event.name">{{ event.name }}</h1>
    <div data-ng-hide="event.name" class="alert alert-warning" role="alert">Opgelet, er is momenteel geen event bezig.</div>
    
    <!-- Menu -->
    <div ng-include src="'js/source/templates/EventModuleMenu.html'"></div>
    
    <!-- Errors -->
    <div data-ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
    
    <!-- Scan block -->
    <div data-ng-class="{passive: listener==false}" class="rfidScanner panel panel-default" data-ng-hide="member.rfidExpired">
        <div class="panel-body">
            <h1>Klaar voor Scannen</h1>
        </div>
    </div>

    <div class="rfidExpired alert alert-warning" data-ng-show="member.rfidExpired">
        <h1>Deze lidkaart is vervallen!</h1> 
        <button class="btn btn-success btn-lg" data-ng-click="renewMembership()">Betaald?</button> <button class="btn btn-warning btn-lg" data-ng-click="cancel()">Cancel</button>
    </div>
    
    <!-- ScanResults -->
    <div id="userPanel" class="panel panel-default" data-ng-show="member" data-ng-click="memberOptions()">
        <div class="panel-body clearfix">
            <div class="clearfix">
                <div class="imageWrapper">
                    <img class="userImage" src="http://localhost/sjatoo-symfony/web/uploads/member_pictures/{{member.imageUrl}}" alt="image {{member.firstname}}" />
                </div>
                <div class="details">
                    <dl>
                        <dd class="name">{{member.firstname}} {{member.lastname}} <span class="checkedIn">{{member.checkedIn | date : "HHumm"}}</span></dd>
                        <dd class="age">{{age = (member.dateOfBirth | ageFilter)}} jaar </dd>
                        <dd class="city">{{member.city}}</dd>
                        <dd class="memberSince">Lid sinds: {{member.memberSince | date : "dd/MM/yyyy"}}</dd>
                        <dd class="cardExpires">Lidkaart vervalt op: {{member.rfidExpireDate | date : "dd/MM/yyyy"}}</dd>
                    </dl>

                    <span data-ng-show="age >= 18" class="badge alert-success">+18</span> <span data-ng-show="age < 18 && age >= 16" class="badge alert-warning">+16</span> <span data-ng-show="age < 16" class="badge alert-danger">-16</span>
                </div>
            </div>
            <div class="progress">
                <div id="progressBar" class="progress-bar" style="width: 100%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>