<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div id="userPanel" class="panel panel-default" data-ng-show="duplicatedMember">
            <div class="panel-body clearfix">
                <div class="clearfix">
                    <div class="imageWrapper">
                        <img class="userImage" src="http://localhost/sjatoo-silex/www/uploads/member_pictures/{{duplicatedMember.image}}" alt="image {{duplicatedMember.firstname}}" />
                    </div>
                    <div class="details">
                        <dl>
                            <dd class="name">{{duplicatedMember.firstname}} {{duplicatedMember.lastname}}</span></dd>
                            <dd class="age">{{duplicatedMember.dateOfBirth | ageFilter}} jaar </dd>
                            <dd class="city">{{duplicatedMember.adress}} {{duplicatedMember.city}}</dd>
                            <dd class="rfidCard">{{duplicatedMember.RFID}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Is dit dezelfde {{duplicatedMember.firstname}}? Dan heeft {{duplicatedMember.firstname}} al een lidkaart. 
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="renewMembership()">OK</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>  
</div>