<!-- Menu -->
<ul class="nav nav-tabs" data-ng-controller="NavigationController">
    <li data-ng-class="{active: isActive('/evenement/checkin')}"><a href="#/evenement/checkin">Scannen</a></li>
    <li data-ng-class="{active: isActive('/evenement/gebruiker/nieuw')}"><a href="#/evenement/gebruiker/nieuw">Toevoegen</a></li>
    <li data-ng-class="{active: isActive('/evenement/gebruiker/zoek')}"><a href="#/evenement/gebruiker/zoek">Zoeken</a></li>
</ul>