<div id="EventSearchUser" class="container" data-ng-controller="EventSearchUserController">
    
    <!-- Event Data -->
    <h1>Zoeken</h1>

    <!-- Menu -->
    <div ng-include src="'js/source/templates/EventModuleMenu.html'"></div>

    <!-- NG REPEAT! -->
    <div id="resultPanel" class="panel panel-default" data-ng-show="members">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Gemeente</th>
                    <th>Lid sinds</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="member in members" data-ng-click="selectMember(member)">
                    <td>{{member.id}}</td>
                    <td>{{member.firstname}}</td>
                    <td>{{member.lastname}}</td>
                    <td>{{member.city}}</td>
                    <td>{{member.rfidExpireDate | badDateToISO | date : "dd/MM/yyyy"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button data-ng-show="years" data-ng-click="addToYears(-1)" class="datePickerButton">-1</button>
    <ul data-ng-show="years" class="datePicker">
        <li data-ng-repeat="year in years | orderBy:year" data-ng-click="selectYear(year)">{{year}}</li>
    </ul>
    <button data-ng-show="years" data-ng-click="addToYears(1)" class="datePickerButton">+1</button>

    <ul data-ng-show="months" class="datePicker">
        <li data-ng-repeat="month in months" data-ng-click="selectMonth(month.value)">{{month.name}}</li>
    </ul>

    <ul data-ng-show="days" class="datePicker">
        <li data-ng-repeat="day in days" data-ng-click="selectDay(day)">{{day}}</li>
    </ul>

</div>