<div class="container" data-ng-controller="EventDetailController">
    <h1 data-ng-show="event.name">Overzicht evenementen</h1>

    <ul class="nav nav-tabs">
        <li><a href="#/evenement/checkin">Scan</a></li>
        <li><a href="#/gebruiker/nieuw/">Nieuw</a></li>
    </ul>

    <ul>
        <li data-ng-repeat="event in events" >
        	{{event.name}}
        </li>
    </ul>
    
</div>