<div ng-include src="'js/source/templates/AdminNavbarTemplate.html'"></div>
<div id="allEvents" class="container headed" data-ng-controller="EventsController">
    <div class="clearfix">
         <h1 class="pageTitle">Overzicht evenementen</h1>

        <!-- Enkel acties zoals mail naar afdeling, download afdeling, ... -->
        <div class="action">
            <a href="#/beheer/evenement/nieuw" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Nieuw
            </a>
        </div>
    </div>

    <!-- Indien er een error is, toon deze hier -->
    <div class="alert alert-danger" role="alert" data-ng-show="error">
        {{error}}
    </div>
    
    <!-- Loading icon is zichtbaar zolang er geen errors of members zijn -->
<!--     <div class="loading" data-ng-hide="">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div> -->

    <ul class="simpleList">
        <li data-ng-repeat="event in events">
            <figure>
                <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/p720x720/10382863_662770360508471_6157837288767482279_n.jpg?oh=da63772d3bc2b8c4e89e7c8c58dbddf8&oe=54F6A602&__gda__=1423675108_abeac9915c0a1e1fbda610f34072d1c5" alt="logo-sjatoo" class="img-circle profilePicture">
            </figure>
            <div class="details">
                <h4 class="title">{{event.name}}</h4>
                <p class="date">{{event.startDate | badDateToISO | date : "dd/MM/yyyy"}}</p>
                <p class="time">{{event.startDate | badDateToISO | date : "HH:mm"}} tot {{event.endDate | badDateToISO | date : "HH:mm"}}</p>
            </div>
        </li>
    </ul>
</div>