<div>
    <div class="modal-header">
        <h3 class="modal-title">Deze lidkaart is niet meet geldig!</h3>
    </div>
    <div class="modal-body">
        <p>
            Het lidmaatschap moet verlengd worden.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="renewMembership()">OK</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>  
</div>