<div ng-include src="'js/source/templates/AdminNavbarTemplate.html'"></div>
<div id="newEvent" class="container headed" data-ng-controller="NewEventController">
    <h1>Evenement aanmaken</h1>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Naam</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Naam" data-ng-model="event.name">
            </div>
        </div>
        <div class="form-group">
            <label for="startDate" class="col-sm-2 control-label">Start datum</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="startDate" placeholder="YYYY/MM/DD UU:SS" data-ng-model="event.startDate">
            </div>
        </div>
        <div class="form-group">
            <label for="endDate" class="col-sm-2 control-label">Eind datum</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="endDate" placeholder="YYYY/MM/DD UU:SS" data-ng-model="event.endDate">
            </div>
        </div>
        <div class="form-group">
            <label for="memberPrice" class="col-sm-2 control-label">Prijs leden</label>
            <div class="col-sm-10">
                <input type="number" step="any" class="form-control" id="memberPrice" placeholder="Prijs leden" data-ng-model="event.memberPrice">
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">Prijs</label>
            <div class="col-sm-10">
                <input type="number" step="any" class="form-control" id="price" placeholder="Prijs" data-ng-model="event.price">
            </div>
        </div>
        <div class="form-group">
            <label for="facebookUrl" class="col-sm-2 control-label">Facebook url</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" id="facebookUrl" placeholder="Facebook event" data-ng-model="event.facebookUrl">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" data-ng-click="saveEvent(event)">Opslaan</button>
            </div>
        </div>
    </form>
</div>