<div class="container" data-ng-controller="RegistrationController">
	<h1>Registration</h1>

	<!-- Menu -->
    <div ng-include src="'js/source/templates/EventModuleMenu.html'"></div>
    
    <!-- EidReader status -->
    <div data-ng-show="eidReader.message && !saveMember.message" class="alert" data-ng-class="eidReader.status == true ? 'alert-success' : 'alert-warning'" role="alert">{{eidReader.message}}</div>
    <div data-ng-show="saveMember.message" class="alert" data-ng-class="saveMember.status == true ? 'alert-success' : 'alert-warning'" role="alert">{{saveMember.message}}</div>
    
    <button data-ng-click="readEidCard()" type="button" class="btn btn-primary btn-lg btn-block" data-ng-hide="member || loading">
        Lees eid-kaart
    </button>

    <!-- Loading icon is zichtbaar zolang er geen errors of members zijn -->
    <div class="loading" data-ng-show="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div id="userPanel" class="panel panel-default" data-ng-show="member">
        <div class="panel-body clearfix">
            <div class="clearfix">
                <div class="imageWrapper">
                    <img class="userImage" data-ng-src="data:image/JPEG;base64,{{member.image}}" alt="image {{member.firstname}}" />
                </div>
                <div class="details">
                    <dl>
                        <dd class="name">{{member.firstname}} {{member.lastname}}</span></dd>
                        <dd class="age">{{member.dateOfBirth | ageFilter}} jaar </dd>
                        <dd class="city">{{member.adress}} {{member.city}}</dd>
                        <dd class="rfidCard">{{member.RFID}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="rfidListener" class="rfidScanner panel panel-default">
        <div class="panel-body">
            <h1>Scan nu de nieuwe lidkaart</h1>
        </div>
    </div>
</div>