<div class="newOrder container-fluid" data-ng-controller="NewOrderController">
    <div class="row-fluid">
        <div class="orderForm col-md-8">
            <h3>Nieuwe bestelling</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li data-ng-repeat="category in productCategories" data-ng-class="{active:filter.category.id == category.id}" ><a href data-ng-click="filterList(category.id)">{{category.abbreviation}}</a></li>
            </ul>

            <ul class="products row-fluid clearfix">
                 <li class="col-md-3" data-ng-repeat="product in products | filter:filter">
                    <button data-ng-click="addToOrder(product)" class="btn btn-primary btn-lg btn-block">{{product.name}}</button>
                </li>
            </ul>
            
        </div>

        <!-- In eigen view steken! -->
        <div class="orderResults col-md-4">
            <h3>Overzicht</h3>
            <div data-ng-hide="order.products.length > 0" class="alert alert-info" role="alert">Voeg een product toe.</div>
            <ul>
                <li data-ng-repeat="product in order.products" class="clearfix">
                    <span class="amount">{{product.amount}}</span> <span class="name">{{product.product.name}}</span> <span class="buttons clearfix"><button class="btn btn-primary btn-lg" data-ng-click="lowerAmount($index)">-</button> <button class="btn btn-primary btn-lg" data-ng-click="riseAmount($index)">+</button></span>
                </li>
            </ul>
            <button id="confirmOrder" class="btn btn-success btn-lg" data-ng-click="confirmOrder(order.products)">Bevestig bestelling</button>
        </div>
    </div>

</div>