<div class="ordersSummary container-fluid" data-ng-controller="OrderListController">
    <div class="header">
        <h3 class="col-md-8">{{currentTime | date:'dd/MM HHumm'}} | Overzicht bestellingen</h3>
        <p class="lastUpdate col-md-4">
            Laatste update: {{lastUpdate | date:'HH:mm:ss'}}
        </p>
    </div>

    <div class="actions">
        <a href="#/toog/bestelling/nieuw/summary" type="button" class="btn btn-default">Maak nieuw order</a>
    </div>
    
    <div data-ng-show="!orders.length" class="alert alert-success" role="alert">
        <strong>Eindelijk rust!</strong> Er zijn geen openstaande orders.
    </div>

    <ul class="orderList">
        <li data-ng-repeat="order in orders" class="order clearfix">
            <div class="info col-md-2">
                <span class="orderId">#{{order.id}}</span>
                <span class="user">{{order.user.firstName}} {{order.user.lastName}}</span>
                <span class="orderTime">{{order.order_date | date:'HHumm'}}</span>
                <button type="button" class="btn btn-block btn-primary">Bewerk</button>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="orderDetailList clearfix">
                            <li class="orderDetail col-md-3" data-ng-repeat="detail in order.orderDetails" data-ng-click="checkDetail(detail)" data-ng-class="{'checked': detail.done}">
                                {{detail.amount}} {{detail.product.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">{{getTotalPrice(order) | currency:"€ "}}</div>
                </div>
            </div>
            <span class="buttons col-md-2" data-ng-hide="order.status">  <button type="button" class="btn btn-success btn-block" data-ng-click="acceptOrder(order)">Accepteer</button> <button type="button" class="btn btn-block btn-danger">Weiger</button> </span>
        </li>
    </ul>
</div>