<div ng-include src="'js/source/templates/AdminNavbarTemplate.html'"></div>
<div id="allMembers" class="container headed" data-ng-controller="UserListController">
    <h3>Overzicht leden</h2>
    
    <ul class="simpleList">
        <li data-ng-repeat="user in users">
            <figure>
                <img src="http://sjatoo.be/api/web/uploads/member_pictures/{{user.imageUrl}}" alt="" class="img-circle profilePicture">
            </figure>
            <div class="details">
                <h4 class="name">{{user.firstname}} {{user.lastname}}</h4>
                <p class="age">{{user.dateOfBirth | ageFilter}} jaar <span class="dateOfBirth">({{user.dateOfBirth | date : "dd/MM/yyyy"}})</span></p>
                <p class="adress"> 
                    <span class="street">{{user.street}},</span> 
                    <span class="city">{{user.zipCode}} {{user.city}}</span>
                </p>
            </div>
        </li>
    </ul>

    <button data-ng-click="load()">Meer</button>
</div>

